.App {
  font-family: sans-serif;
  text-align: center;
}

/* customize layout style */
/* https://github.com/zesik/react-splitter-layout/blob/master/src/stylesheets/index.css */

.splitter-layout {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splitter-layout .layout-pane {
  position: relative;
  flex: 0 0 auto;
  overflow: auto;
}

.splitter-layout .layout-pane.layout-pane-primary {
  flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
  flex: 0 0 auto;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  background-color: #265d42 ;
}
/* rgb(35, 211, 50) */

.splitter-layout .layout-splitter:hover {
  background-color: #265d42 ;
  width: 10px;
}

.splitter-layout.layout-changing {
  cursor: col-resize;

}

.splitter-layout.layout-changing > .layout-splitter {
  background-color: #265d42 ;
}

.splitter-layout.splitter-layout-vertical {
  flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
  cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
  width: 100%;
  height: 4px;
  cursor: row-resize;
}
